{% extends 'base.html' %}

{% block title %}Удаление книги{% endblock %}

{% block content %}

<a class="back" href="{% url 'book_detail' object.slug %}">
← Назад
</a>

<h2>Удаление книги</h2>

<div class="delete-box">

<p class="warning">
Вы уверены, что хотите удалить книгу
<b>"{{ object.title }}"</b>?
</p>

<form method="post">

{% csrf_token %}

<button class="btn delete" type="submit">
Удалить
</button>

<a class="btn reset"
href="{% url 'book_detail' object.slug %}">
Отмена
</a>

</form>

</div>

{% endblock %}