{% extends 'base.html' %}

{% block content %}

<a class="back" href="{% url 'book_list' %}">← Назад</a>

<div class="book-detail">

<h2>{{ book.title }}</h2>

<p>
Автор:
<a href="{% url 'author_detail' book.author.id %}">
{{ book.author }}
</a>
</p>

<p>Жанр: {{ book.genre }}</p>

<p>{{ book.description }}</p>

<p>Страниц: {{ book.quantity }}</p>


<p>
Статус:

{% if book.is_read %}
<span class="status read">Прочитано</span>
{% else %}
<span class="status unread">Не прочитано</span>
{% endif %}

</p>

<form method="post">
{% csrf_token %}
<button class="btn" type="submit">

{% if book.is_read %}
Отметить как непрочитанное
{% else %}
Отметить как прочитанное
{% endif %}

</button>
</form>

</div>

{% endblock %}